svg {
  display: block;
  width: 100%;
  overflow: visible;
  margin-bottom: 10rem;
  padding-bottom: 10rem;
}

svg rect.selection {
  stroke: none;
}

.StackGraph {
  margin: 10 auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 50vh;
  text-align: center;
  box-sizing: border-box;
}
